# vim: set filetype=gitconfig:
[color]
	ui = auto

[core]
	editor = vim
    autocrlf = true
    safecrlf = false

[merge]
	tool = vimdiff

[diff]
	tool = vimdiff
	noprefix = true
	algorithm = patience
	renames = copies

[pager]
	diff = "vim -c '%sm/\\e.\\{-}m//ge' -c 'set ft=diff' -c 'normal gg' -"

[push]
	default = simple

[grep]
    lineNumber = true